.container
{
    padding-top: 100px;
    padding-bottom: 140px;
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: fit-content;
    border-bottom:2px solid black ;
}

.fa-solid
{
    margin-left: 10px;
}